@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-global-styles;
// @include foundation-grid;
// @include foundation-flex-grid;
@include foundation-xy-grid-classes;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-card;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-responsive-embed;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
// @include foundation-float-classes;
@include foundation-flex-classes;

// @include foundation-prototype-classes;

@include motion-ui-transitions;
@include motion-ui-animations;

/*
* General
*/

body {
    background-color: #f4f5f6;
}

a {
    color: inherit;
}

/*
* Typography
*/

h1 {
    text-transform: uppercase;
    color: $dark-gray;
}

h2 {
    a:hover {
        color: inherit;
        text-decoration: underline #f72210;
    }
}

.more-stories {
    h2 {
        font-size: rem-calc(17)
    }
}

h3 {
    padding: 10px 0;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;

    a:hover {
        color: #f72210;
    }
}

h4 {
    text-transform: uppercase;
    color: #555;

    a:hover {
        color: #f72210;
    }
}

p {
    font-family: Arial,Helvetica,sans-serif;
    color: #333;
}

/*
* Header
*/

.header-first {
    font-size: 0.9rem;
    background-color: black;
    color: white;

    a {
        color: inherit;
    }
}

.f-header-second {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 99;
}

.header-second {
    align-items: flex-end;
    padding: rem-calc(20 10 10);
    background-color: #f72210;
    color: white;

    a {
        color: inherit;
    }

    .auth {
        font-size: 1.1rem;
        align-self: center;
    }
}

.logo-full {
    text-align: center;

    svg {
        fill: white;
        height: rem-calc(60);
    }
}

.logo-collapse {
    padding-bottom: rem-calc(5);
    text-align: start;
    svg {
        height: rem-calc(20);
    }
}

.date {
    margin-left: rem-calc(10);
}

.auth {
    text-transform: uppercase;
    font-weight: bold;
    text-align: right;

    .subscribe, .subscribe:hover {
        background-color: white;
        color: #f72210;
    }
    
    
    a {
        display: inline-block;
        padding: 0.4rem 0.3rem;
    }

    a:hover {
        color: inherit;
    }
}

#canvas-toggler {
    margin-left: auto;
}

#canvas-toggler:hover {
    color:inherit;
}

.arrow-icon {
    width: rem-calc(8);
    fill: #f72210;
    margin-left: rem-calc(10);
}

.header-third {
    background-color: white;
    color: black;
    padding: 1rem 0;
    border-bottom: 2px solid #f4f5f6;

    li {
        border-right: 1px solid $medium-gray;
        padding: rem-calc(3) 0;
    }

    a {
        font-size: 1.3rem;
        font-weight: bold;
        color: inherit;
        padding: 0 1.2rem;
    }

    a:hover {
        color:#f72210;
    }
}

#offCanvasRightOverlap {
    background-color: white;
    top: rem-calc(72.1);
    box-shadow: rgba(0,0,0,.1) -2px 0px 2px;
    color: black;

    li {
        position: relative;
    }

    a {
        font-size: 1.3rem;
        font-weight: bold;
        padding: 0.5rem 1rem;
        color: inherit;
    }

    a:hover{
        background-color: black;
        color: white;
    }

    a:after {
        content: "";
        background-image: url('../img/icon-arrow-right-black.svg');
        background-repeat: no-repeat;
        display: inline-block;
        height: 1rem;
        width: 1rem;
        position: absolute;
        right: rem-calc(5);
    }

    a:hover:after {
        background-image: url('../img/icon-arrow-right-red.svg')
    }

    input {
        padding-left: rem-calc(16);
    }

    label {
        content: "";
        position: absolute;
        right: rem-calc(5);
        font-size: 0;
        background-image: url('../img/icon-search-glass.svg');
        background-repeat: no-repeat;
        height: 100%;
        width: 1.3rem;
        margin: rem-calc(10 5);
    }
}

/*
* Main
*/

main {
    background-color: white;
    padding: rem-calc(20 30)
}

.card-img {
    position: relative;
    margin-bottom: rem-calc(10);
    
    .category {
        position: absolute;
        left: 0;
        bottom: 0;
        padding: rem-calc(5 15);
        color: #f72210;
        background-color: rgba(255, 255, 255, 0.9);
        font-weight: bold;
        text-transform: uppercase;

        a {
            color: inherit;
        } 

        img {
            width: 100%;
            max-width: 100%;
            height: auto;
        }
    }
}

.preview {
    @extend .grid-x;
    padding: rem-calc(15 0);
    border-bottom: 1px solid #d9d9d9;

    &:last-of-type {
        border-bottom: none;
    }
}

.preview-img {
    @extend .cell;
    margin-right: rem-calc(20);
}

.preview-section {
    @extend .cell;
    p {
        margin-bottom: 0;
    }
}

.opinions, .latest-news {
    h3 {
        padding: 0;
        border: none;
    }

    .preview:first-of-type {
        padding-top: 0;
    }
}

.opinions {
    .preview-img {
        img {
            border-radius: 50%;
        }
    }
}

/*
* Media queries
*/

@include breakpoint(medium down) { 
    .header-second {
        padding: 0 0 0 rem-calc(15);
    }

    #auth-second-header {
        font-size: 0.9rem;
        display: none;
    }

    #logo {
        padding-bottom: rem-calc(5);
        text-align: start;
        svg {
            height: rem-calc(20);
        }
    }

    main {
        padding: rem-calc(20 15)
    }
}